<label
  class="p-radiobutton p-component orc-radio"
  [class.orc-radio--checked]="isChecked()"
  [class.orc-radio--disabled]="isDisabled()"
  [class.orc-radio--error]="isError()"
  [class.orc-radio--filled]="variant() === 'filled'"
  [class.orc-radio--small]="size() === 'small'"
  [class.orc-radio--large]="size() === 'large'"
  [class.p-radiobutton-checked]="isChecked()"
  [class.p-radiobutton-disabled]="isDisabled()"
  [attr.data-pc-name]="'radiobutton'"
  [attr.for]="effectiveId()"
>
  <!-- Visually hidden native radio input for complete a11y and form integration -->
  <input
    #nativeInput
    type="radio"
    class="p-radiobutton-input orc-radio__native-input"
    [id]="effectiveId()"
  [name]="effectiveName()"
  [value]="value()"
  [checked]="isChecked()"
  [disabled]="isDisabled()"
  [tabindex]="tabindex() ?? tabIndex()"
  [autofocus]="autofocus()"
  [attr.aria-label]="ariaLabel() || null"
  [attr.aria-labelledby]="ariaLabelledBy() || null"
    [attr.aria-checked]="isChecked()"
    [attr.aria-disabled]="isDisabled()"
    [attr.aria-invalid]="isError()"
    (change)="onSelect($event)"
    (focus)="onFocusEvent($event)"
    (blur)="onBlurEvent($event)"
    (keydown)="onKeyDown($event)"
  />

  <!-- Visual Custom Radio matching Figma 32:18402 -->
  <span class="p-radiobutton-box orc-radio__box" aria-hidden="true">
    <span class="orc-radio__circle">
      <span class="orc-radio__dot"></span>
    </span>
  </span>

  <!-- Label and Description -->
  <span class="orc-radio__content" *ngIf="label() || description()">
    <span class="orc-radio__label" *ngIf="label()">{{ label() }}</span>
    <ng-content></ng-content>
    <span class="orc-radio__description" *ngIf="description()">
      {{ description() }}
    </span>
  </span>
  <span class="orc-radio__content" *ngIf="!label() && !description()">
    <ng-content></ng-content>
  </span>
</label>
