<div
  class="orc-tooltip"
  [class.orc-tooltip--visible]="visible()"
  [class.orc-tooltip--dark]="theme() === 'dark'"
  [class.orc-tooltip--light]="theme() === 'light'"
  [class.orc-tooltip--top]="actualPosition() === 'top'"
  [class.orc-tooltip--bottom]="actualPosition() === 'bottom'"
  [class.orc-tooltip--left]="actualPosition() === 'left'"
  [class.orc-tooltip--right]="actualPosition() === 'right'"
  [id]="id()"
  role="tooltip"
  [attr.aria-hidden]="!visible()"
>
  <span class="orc-tooltip__text">{{ text() }}</span>

  <!-- Arrow SVG Polygon -->
  <svg class="orc-tooltip__arrow" viewBox="0 0 14 7" aria-hidden="true">
    <path d="M0 0 L7 7 L14 0 Z" />
  </svg>
</div>
