<div class="otp-container" [class.otp-container--disabled]="isDisabled()" [class]="styleClass()" [class.otp-container--filled]="variant() === 'filled'" [class.otp-container--small]="size() === 'small'" [class.otp-container--large]="size() === 'large'">
  <!-- Grupo 1 -->
  <orc-otp-group>
    @for (idx of firstHalfIndices(); track idx) {
      <orc-otp-slot
        [index]="idx"
        [isFirst]="idx === 0"
        [isLast]="idx === firstHalfIndices().length - 1"
      ></orc-otp-slot>
    }
  </orc-otp-group>

  <!-- Separador -->
  <orc-otp-separator></orc-otp-separator>

  <!-- Grupo 2 -->
  <orc-otp-group>
    @for (idx of secondHalfIndices(); track idx) {
      <orc-otp-slot
        [index]="idx"
        [isFirst]="idx === secondHalfIndices()[0]"
        [isLast]="idx === length() - 1"
      ></orc-otp-slot>
    }
  </orc-otp-group>
</div>
