<div class="orc-option-container">
  @if (avatarUrl()) {
    <img [src]="avatarUrl()" alt="" class="orc-option-avatar" />
  } @else if (icon()) {
    <i [class]="icon()" class="orc-option-icon" aria-hidden="true"></i>
  }

  <div class="orc-option-content">
    <span class="orc-option-label">
      @if (label()) {
        {{ label() }}
      } @else {
        <ng-content></ng-content>
      }
    </span>
    @if (description()) {
      <span class="orc-option-description">{{ description() }}</span>
    }
  </div>

  @if (isSelected()) {
    <svg class="orc-option-checkmark" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
    </svg>
  }
</div>
